*{
    font-family: 'Poppins', sans-serif;
}

.card-zoom {
    transition: all ease-in-out 0.5s;
}

.card-zoom:hover {
    transform: scale(1.09);
}

.card-zoom:hover h5 {
    color: #2487ce !important;
    cursor: pointer;
}


.hr{
    border-color: black !important;

}